@import "./_variable";

body{  
    background:$color;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:16px; 
    color:blue;
    line-height: 24px;
}